<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FIELD WORK VIEW</title>
</head>
<body class="bg-secondary">
<%include ./includes/topMenu.ejs%>
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-10 offset-1 border rounded p-4">
            <h5>응답자 현황</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Total</th>
                        <th>Completed</th>
                        <th>Screened</th>
                        <th>Quota-full</th>
                        <th>Bad Answer</th>
                        <th>Drop(ing)</th>
                    </tr>
                </thead>
                <tbody>
                <%
                    if (data.status) {
                        for(let item of Object.values(data.status)){
                        %>
                            <tr>
                                <td><%=item.group%></td>
                                <td class="font-weight-bold"><%=item.data.Total%></td>
                                <td class="text-danger font-weight-bold"><%=item.data.Completed%></td>
                                <td><%=item.data.Screened%></td>
                                <td><%=item.data.QuotaFull%></td>
                                <td><%=item.data.BadAnswer%></td>
                                <td><%=item.data.Drop%></td>
                            </tr>
                        <%
                        }
                    }
                %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 border rounded p-4" style="height:50vh;">
            <h5>일자별 참여자 수</h5>
            <div id="date-chart-wrapper" data-chart="<%=JSON.stringify(data.dateStatus ? data.dateStatus : {})%>"></div>
            <div id="date-table-wrapper" data-table="<%=JSON.stringify(data.dateStatus ? data.dateStatus : {})%>"></div>
        </div>
    </div>
</div>
</body>
</html>