<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FIELD WORK VIEW</title>
    <style>
        table.table {
            font-size: 0.8rem;
        }
        table.table th, table.table td {
            text-align:center !important;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        table.table > tbody > tr > td.date{
            font-weight: bold;
        }

        div.d-table-row {

        }

        div.d-table-head {
            border: 1px solid #e3e3e3;
            padding: 5px 5px 5px 5px;
            border-collapse: collapse;
            text-align: center;
            font-weight: bold;
        }

        div.d-table-body {
            border: 1px solid #e3e3e3;
            padding: 5px 5px 5px 5px;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>
<body class="bg-secondary">
<%include ./includes/topMenu.ejs%>
<div class="container-fluid my-4">
    <%if (data.execType === 'fwv'){%>
    <div class="row">
        <div class="col-10 offset-1 border rounded p-4">
            <h5>응답자 현황</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Total</th>
                        <th>Completed</th>
                        <th>Screened</th>
                        <th>Quota-full</th>
                        <th>Bad Answer</th>
                        <th>Drop(ing)</th>
                    </tr>
                </thead>
                <tbody>
                <%
                    if (data.status) {
                        for(let item of Object.values(data.status)){
                        %>
                            <tr>
                                <td><%=item.group%></td>
                                <td class="font-weight-bold"><%=item.data.Total%></td>
                                <td class="text-danger font-weight-bold"><%=item.data.Completed%></td>
                                <td><%=item.data.Screened%></td>
                                <td><%=item.data.QuotaFull%></td>
                                <td><%=item.data.BadAnswer%></td>
                                <td><%=item.data.Drop%></td>
                            </tr>
                        <%
                        }
                    }
                %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 border rounded p-4">
            <h5>일자별 참여자 수</h5>
            <div id="date-chart-wrapper" data-chart="<%=JSON.stringify(data.dateStatus ? data.dateStatus : {})%>"></div>
            <div id="date-table-wrapper" data-table="<%=JSON.stringify(data.dateStatus ? data.dateStatus : {})%>" class="mt-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Total</th>
                            <th>CO(%)</th>
                            <th>CO Column%</th>
                            <th>SO(%)</th>
                            <th>QF(%)</th>
                            <th>Bad</th>
                            <th>Drop</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                        if(data.dateStatus){
                            let dateStatus = data.dateStatus;
                            if(dateStatus.Total) {
                                Object.keys(dateStatus.Total).forEach(key => {
                                    let totalItem = dateStatus.Total[key];
                                    let completeItem = (dateStatus.Completed ? (dateStatus.Completed[key] ? `${dateStatus.Completed[key]}(${((dateStatus.Completed[key]/totalItem)*100).toFixed(1)}%)` : '0(0%)') : '0(0%)');
                                    let screenItem = (dateStatus.Screened ? (dateStatus.Screened[key] ? `${dateStatus.Screened[key]}(${((dateStatus.Screened[key]/totalItem)*100).toFixed(1)}%)` : '0(0%)') : '0(0%)');
                                    let quotaFullItem = (dateStatus.QuotaFull ? (dateStatus.QuotaFull[key] ? `${dateStatus.QuotaFull[key]}(${((dateStatus.QuotaFull[key]/totalItem)*100).toFixed(1)}%)` : '0(0%)') : '0(0%)');
                        %>
                            <tr>
                                <td class="date"><%=key%></td>
                                <td><%=totalItem%></td>
                                <td><%=completeItem%></td>
                                <td>0</td>
                                <td><%=screenItem%></td>
                                <td><%=quotaFullItem%></td>
                                <td><%=(dateStatus.BadAnswer ? (dateStatus.BadAnswer[key]||0) : 0)%></td>
                                <td><%=(dateStatus.Drop ? (dateStatus.Drop[key]||0) : 0)%></td>
                            </tr>
                        <%
                                });
                            }
                        }%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 border rounded p-4">
            <h5>응답자 문의사항</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>처리</th>
                        <th>문의일시<br/>(처리일시)</th>
                        <th>resid/grpid</th>
                        <th>페이지<br/>(문의/현재)</th>
                        <th>제목</th>
                        <th>내용</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="6" class="p-4">추후 반영</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-10 offset-1 border rounded p-4">
            <h5>완료자 응답시간</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>N</th>
                        <th>Avg</th>
                        <th>Avg<br/>(제외 Top/Bot. 2.5%)</th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" class="p-4">추후 제공 예정</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <%} else if (data.execType === 'exsch'){%>
        <div class="row">
            <div class="col-10 offset-1 border rounded p-4">
                <h5>응답자 데이터 제외 검색</h5>
            </div>
        </div>
    <%} else if (data.execType === 'reWrite'){%>
        <div class="row">
            <div class="col-10 offset-1 border rounded p-4">
                <h5>데이터 수정</h5>
            </div>
        </div>
    <%} else if (data.execType === 'rdtView'){%>
        <div class="row">
            <div class="col-10 offset-1 border rounded p-4">
                <h5>연동 설정</h5>
                <div class="d-table border rounded w-100">
                    <div class="d-table-row">
                        <div class="d-table-cell d-table-head">
                            그룹명
                        </div>
                        <div class="d-table-cell d-table-head">
                            상태
                        </div>
                        <div class="d-table-cell d-table-head">
                            컨트롤
                        </div>
                        <div class="d-table-cell d-table-head">
                            메세지
                        </div>
                        <div class="d-table-cell d-table-head">
                            URLS
                        </div>
                        <div class="d-table-cell d-table-head">
                            종료 일시
                        </div>
                    </div>
                    <%
                        for(let [idx,d] of Object.values(data.project).entries()) {
                            console.log(d);
                    %>
                        <div class="d-table-row">
                            <div class="d-table-cell d-table-body"><%=d.name%></div>
                            <div class="d-table-cell d-table-body"><%=d.state%></div>
                            <div class="d-table-cell d-table-body"><%=d.control%></div>
                            <div class="d-table-cell d-table-body"><%=d.msg%></div>
                            <div class="d-table-cell d-table-body" style="font-size:0.9rem;">
                                <div class="d-block text-left"><%-[`CO: ${d['co']}`,`SO: ${d['so']}`,`QO: ${d['qo']}`, `BO: ${d['bo']}`].join('</div><div class="d-block text-left">')%></div>
                            </div>
                        </div>

                    <%
                            //console.log(idx, d);
                        }
                    %>
                </div>
            </div>
        </div>
    <%} else if (data.execType === 'dataReset'){%>
        <div class="row">
            <div class="col-10 offset-1 border rounded p-4">
                <h5>데이터 초기화</h5>
            </div>
        </div>
    <%}%>
</div>
</body>
</html>